<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smallmorning.zwebservice.dao.AppMessageMapper">
    <resultMap id="BaseResultMap" type="com.smallmorning.zwebservice.entity.AppMessage">

    </resultMap>

    <cache></cache>

    <select id="selectAppByKind" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from freedommxc_product where kind = #{kind,jdbcType=VARCHAR}
    </select>

</mapper>