<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link th:href="@{~/bootstrap-3.3.7-dist/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<h2 align="center" style="color: #2aabd2">本网站用于个人技术分享，网站正在搭建中。</h2>
<!--<div align="center"><a href="/video"><button type="button" class="btn btn-success">点击跳转</button></a></div>-->
<script th:src="@{~/webjars/jquery/dist/jquery.min.js}"></script>
<script th:src="@{~/bootstrap-3.3.7-dist/js/bootstrap.min.js}"}></script>
</body>
</html>